[submodule "vim/.vim/pack/git_plugins/start/fzf.vim"]
	path = vim/.vim/pack/git_plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "emacs/.config/emacs/everforest-theme"]
	path = emacs/.config/emacs/everforest-theme
	url = https://github.com/Theory-of-Everything/everforest-emacs.git
[submodule "tmux/.config/tmux/plugins/tmux-mighty-scroll"]
	path = tmux/.config/tmux/plugins/tmux-mighty-scroll
	url = https://github.com/noscript/tmux-mighty-scroll.git
[submodule "vim/.vim/pack/git_plugins/start/fzf"]
	path = vim/.vim/pack/git_plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
